<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Galerie</title>
        <link rel="stylesheet" href="templates/bootstrap.min.css">
        <link rel="stylesheet" href="templates/style.css">
    </head>
    <body class="container-fluid">
        <div class="row">
            <nav class="col-md-2">
                {% set dir = constant('IMAGE_DIR') %}
                {% set dirlength = dir|length %}
                {% block nav %}
                    <div class="list-group">
                        <a class="list-group-item" href="index.php">Start</a>
                        {% for dir in dirs if dir.realPath|slice(dirlength)|length > 0 %}
                            <a class="list-group-item" href="index.php?dirix={{ loop.index0 }}">
                                {{ dir.realPath|slice(dirlength + 1) }}
                            </a>
                        {% endfor %}
                    </div>
                {% endblock %}
            </nav>
            {% block content %}
                <main class="thumb-container" class="col-md-10">
                    {% for file in files %}
                        <a href="index.php?action=show&dirix={{ dirix }}&filix={{ loop.index0 }}">
                            <img class="thumb" src="index.php?action=pipeThumbnail&dirix={{ dirix }}&filix={{ loop.index0 }}">
                        </a>
                    {% else %}
                        <p>
                            Kategorie wählen
                        </p>
                    {% endfor %}
                </main>
            {% endblock %}
        </div>
    </body>
</html>
